doctype html
head
 meta(charset='UTF-8')
 include ../node_modules/pug-bootstrap/_bootstrap.pug
style
    include ../public/stylesheets/css/signIn.css
#login
  form.form-signin(onsubmit='return false;' method='post' action='/signinTomain')
    h2#login_head &#xB85C;&#xADF8;&#xC778;
    label.sr-only(for='inputEmail') &#xC544;&#xC774;&#xB514;
    input#login_id_input.form-control(type='text' name='id' placeholder='아이디' required='')
    label.sr-only(for='inputPassword') &#xBE44;&#xBC00;&#xBC88;&#xD638;
    input#login_pwd_input.form-control(type='password' name='password' placeholder='비밀번호' required='')
    b#red_text &#xC774;&#xBA54;&#xC77C;&#xACFC; &#xBE44;&#xBC00;&#xBC88;&#xD638;&#xB97C; &#xD655;&#xC778;&#xD574;&#xC8FC;&#xC138;&#xC694;.
    #login_btn_div
      button.btn.btn-lg.btn-block(type='btton' onclick='isUser()') &#xB85C;&#xADF8;&#xC778;
      button.btn.btn-lg(class='btn-block' type='button' onclick="location.href='/signUp'") &#xD68C;&#xC6D0;&#xAC00;&#xC785;
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(type='text/javascript' src='src/javascripts/util.js')
script(type='text/javascript' src='src/javascripts/signInUserCheck.js')