$mini-carousel-height: 12rem;
$mini-carousel-width: 15rem;
$primeNavy:#232f3e;

@mixin mini-carousel-size{
    width: $mini-carousel-width;
    height: $mini-carousel-height;
}

@mixin set-width-height($width, $height){
    width: $width;
    height: $height;
}

@mixin set-transform($transform,$transition){
    transform: $transform;
    transition: $transition;
}

body,header,ol{
    margin: 0;
}

header{
    @include set-width-height(100%,4rem);
    display: flex;
    background-color: $primeNavy;
}

.amazon-logo{
    margin: 1rem;
    @include set-width-height(97px,30px);
    text-indent: -500px;
    background: {
        size: 350px;
        image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-2x_optimized_layout1._CB468670774_.png);
        position: -10px -51px;
    }
}

.mini-carousel{
    display: flex;
    flex-direction: row;
    margin: 1rem;
    padding: 4rem;
    width: 70rem;
    div{
        height: $mini-carousel-height;
    }
}

.description-container{
    display: flex;
    flex-direction: column;
    .description-text{
        margin: 0.8rem 0rem;
        width: 28rem;
    }
    .description-header{
        font: {
            size: 2.5rem;
        }
    }
}

.mini-carousel-center{
    @include mini-carousel-size;
    display: -webkit-inline-box;
    overflow: hidden;
    ol{
        display: flex;
        position: relative;
        left: -$mini-carousel-width;
        padding: 0;
        list-style: none;
        img{
            @include mini-carousel-size;
        }
    }
}

.mini-carousel-right{
    margin-right: 2rem;
}

.trans-none{
    @include set-transform(none,0s);
}

.trans-left{
    @include set-transform(translate(-15rem,0),0.3s);
}

.trans-right{
    @include set-transform(translate(+15rem,0),0.3s);
}
