$mini-carousel-height: 12rem;
$mini-carousel-width: 15rem;
$main-carousel-bottom-height: 19rem;
$main-carousel-bottom-width: 60rem;
$ship-color: #00A8E1;
$stream-color: #FF6138;
$shop-color: #E31F64;
$read-color: #36C2B4;
$more-color: #FFC400;

$primeNavy:#232f3e;

@mixin mini-carousel-size{
    width: $mini-carousel-width;
    height: $mini-carousel-height;
}

@mixin set-width-height($width, $height){
    width: $width;
    height: $height;
}

@mixin set-transform($transform,$transition){
    transform: $transform;
    transition: $transition;
}

@mixin set-button-image($url,$size){
    width: $size;
    height: $size;
    background-image: url($url);
    background-size: $size;
    border: none;
}

@mixin set-display-flex-direction($direction){
    display: flex;
    flex-direction: $direction;
}

header{
    @include set-width-height(100%,4rem);
    display: flex;
    background-color: $primeNavy;
}

.amazon-logo{
    margin: 1rem;
    @include set-width-height(97px,30px);
    background: {  
        size: 350px;
        image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global_bluebeacon-2x_optimized_layout1._CB468670774_.png);
        position: -10px -51px;
    }
}

.mini-carousel{
    @include set-display-flex-direction(row);
    margin: 1rem;
    margin-left: 10%;
    padding: 4rem;
    div{
        height: $mini-carousel-height;
        margin: 1.5rem;
    }
    .mini-carousel-side{
        @include set-display-flex-direction(row);
        align-items: center;
        .mini-carousel-left-btn{
            @include set-button-image('../../images/left-chevron.png',1rem);
        }
        .mini-carousel-right-btn{
            @include set-button-image('../../images/right-chevron.png',1rem);
        }
    }
    .mini-carousel-center{
        @include mini-carousel-size;
        display: -webkit-inline-box;
        overflow: hidden;
        .mini-list{
            left: -$mini-carousel-width;
            width: 60rem;
            img{
                @include mini-carousel-size;
            }
        }
    }
    .mini-text-container{
        @include set-display-flex-direction(column);
        .mini-text-description{
            margin: 1rem 0rem;
            line-height: 1.5rem;
            font-weight: 300;
            width: 28rem;
        }
        .mini-text-header{
            font-size: 2.5rem;
        }
    }
}


.main-carousel-bottom{
    @include set-display-flex-direction(row);
    margin-left: 7%;
    width: fit-content;
    div{
        margin: 1.5rem;
    }
    .main-carousel-bottom-center{
        overflow: hidden;
        width: $main-carousel-bottom-width;
        .main-list{
            width: auto;
            left: -$main-carousel-bottom-width;
            li{
                @include set-width-height($main-carousel-bottom-width,$main-carousel-bottom-height);
                .main-text{
                    margin-top:3rem;
                    width: 30rem;
                    margin-left: 30rem;
                    .main-text-header{
                        font-size: 1.5rem;
                    }
                    .main-text-description{
                        line-height: 1.5rem;
                        font-weight: 300;
                        margin: 1rem 0rem;
                    }
                }
            }
        }
    }
    .main-carousel-bottom-side{
        @include set-display-flex-direction(row);
        align-items: center;
        .main-carousel-bottom-left-btn{
            @include set-button-image('../../images/left-radius-chevron.png',3rem);
        }
        .main-carousel-bottom-right-btn{
            @include set-button-image('../../images/right-radius-chevron.png',3rem);
        }
    }
}

.category-ship{
    background-color: $ship-color;
}

.category-stream{
    background-color: $stream-color;
}

.category-shop{
    background-color: $shop-color;
}

.category-read{
    background-color: $read-color;
}

.category-more{
    background-color: $more-color;
}

.main-text-title{
    display: inline-block;
    margin: 0.5rem 0;
    color: white;
    padding: 0.3rem;
}